{% extends 'registration/base.html' %}
{% block title-meta%}{% block title %}
Password Reset 
{% endblock%}{% endblock%}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Password Reset Done</h3>
        </div>
    </div>
        <div class="card-body py-4">
            <form method="post">
                <p class="py-2">Password Reset Done Successfully</p>
            </form>
        </div>
</div>
{% endblock %}
