{% extends 'registration/base.html' %}
{% block title-meta%}{% block title %}
Password Complete 
{% endblock%}{% endblock%}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Password Reset Complete</h3>
        </div>
    </div>
        <div class="card-body py-4">
            <form method="post">
                <p class="py-2">Password Reset Complete Successfully</p>
            </form>
        </div>
        <div class="card-body py-4">
            
                <a href="{% url 'login' %}" class="py-2">Login</p>
        </div>
</div>
{% endblock %}
