<!-- <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Categories:</a></li>
        {% for cat in cat %}
            {% if cat.parent == None %}
            <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'category' cat.id%}">{{cat.title}}</a>
                {% if cat.childern.all %}
                    {% include 'blog/partials/category_loop.html'%}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>  -->















<div class="btn-group" id="navbarResponsive">
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Categories:</a></li>
        {% for cat in cat %}
            {% if cat.parent == None %}
            <li>
                    <!-- <a class="dropdown-item" href="{% url 'category' cat.id%}">{{cat.title}}</a> -->
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <a href="{% url 'category' cat.id%}">{{cat.title}}</a>
                      </button>
                    {% if cat.childern.all %}
                    {% include 'blog/partials/category_loop.html'%}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div> 
<!-- Example single danger button
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div> -->
