{% extends 'base.html' %}
{% load static %}
{% block title %}Post{% endblock %}


{% block header%}
<header class="masthead" style="background-image: url('{{detail.thumbnail.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{detail.title}}</h1>
                    <h2 class="subheading">Iranian singer</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}



{% block content %}
<!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <h2 class="section-heading">{{detail.title}}</h2>
                        <p>{{detail.descriptions|linebreaks}}</p>
                        <blockquote class="blockquote">{{detail.publish}}</blockquote>
                        <h2 class="section-heading">Picture</h2>
                        <a href="{{detail.thumbnail.url}}"><img class="img-fluid" src="{{detail.thumbnail.url}}" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                        <p>
                            &middot; {{detail.title}}
                            <a href="http://Wikipedia.com/">Wikipedia</a>
                            <a href="https://www.ostadshajarian.com/">Weblog</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
     

{% endblock %}
