{% extends 'base.html' %}
{% load static %}
{% block title %}search{% endblock %}


{% block header%}
<header class="masthead" style="background-image: url('static/blog/assets/img/post.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>search</h1>
                    <span class="subheading">{{search}} </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3 class="alert alert-primary text-center">Search {{search}}</h3>
                    <!-- Post preview-->
                    {% for post in object_list %}
                        <div class="post-preview">
                            <a href="{% url 'blog:detail' post.id %}">
                                <h2 class="podfor st-title">{{post.title}}</h2>
                            <img src="{{post.thumbnail.url}}" alt="">
                                <h3 class="post-subtitle">{{post.descriptions|truncatewords:30}}</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">{{post.status}}</a>
                                {{post.created}}
                            </p>
                            {% for cat in post.category.active %}
                            <a href="{% url 'blog:category' cat.id %}">#{{cat.title}}</a>
                            {% endfor %}
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                   {% empty %}
                        <P>Unfortunately, there is no content to display</P>
                   {% endfor %}
                   <!-- Pager-->

                   {% if is_paginated %}

                   <nav aria-label="Page navigation example text-aline-center" >
                       <ul class="pagination">

                         {% if page_obj.has_previous %}
                           <li class="page-item"><a class="page-link" href="?q={{search}}{{page_obj.previous_page_number}}">Previous</a></li>
                         {% endif%}

                         {% for post in page_obj.paginator.page_range %}

                           {% if post.number == page %}
                               <li class="page-item "><a class="page-link" href="?q={{search}}{{post}}">{{post}}</a></li>
                           {% endif %}

                         {% endfor%}

                         {% if page_obj.has_next %}
                           <li class="page-item"><a class="page-link" href="?q={{search}}{{page_obj.next_page_number}}">Next</a></li>
                         {% endif%}

                       </ul>
                   </nav>

                   {% endif %}




                   <!-- {% if post.has_other_pages%}

                   <nav aria-label="Page navigation example text-aline-center" >
                       <ul class="pagination">

                         {% if post.has_previous %}
                           <li class="page-item"><a class="page-link" href="?page={{post.previous_page_number}}">Previous</a></li>
                         {% endif%}

                         {% for post in post.paginator.page_range %}

                           {% if post.number == page %}
                               <li class="page-item "><a class="page-link" href="?page={{post}}">{{post}}</a></li>
                           {% endif %}

                         {% endfor%}

                         {% if post.has_next %}
                           <li class="page-item"><a class="page-link" href="?page={{post.next_page_number}}">Next</a></li>
                         {% endif%}

                       </ul>
                   </nav>

                   {% endif %}
                    -->
                   <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> -->
                   
                   <!-- End Pager-->
                </div>
            </div>
        </div>
{% endblock %}
      