{% extends 'base.html' %}
{% load crispy_forms_tags %}
        {% block header%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/blog/assets/img/1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock%}
        {% block content%}

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <div class="row">
                                      <div class="col-6">
                                        {{ form.name|as_crispy_field }}
                                      </div>
                                      <div class="col-6">
                                        {{ form.email|as_crispy_field }}
                                      </div>
                                    </div>
                                    {{ form.phone|as_crispy_field }}
                                    {{ form.message|as_crispy_field }}
                                <button type="submit" class="btn btn-success"><Select:disabled>Send</Select:disabled></button>
                                </form>
                        </div>                 
                    </div>
                </div>
            </div>
        </main>
{% endblock%}